// Imports
@import "partials/reset";
@import "partials/general_styles";
@import "partials/clearfix";




// 1. Many small items in a grid
.block.small-grid.small-grid-flexbox

ul{
  width: 300px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  li{
    flex: 1 1 auto;
  }
}



// 2. 2-Column Grid



// 3. Centering



// 4. Ordering
